@model IEnumerable<SN_Aggregator_App.Models.PageFeedModel>

<h2>Posts </h2>

<table class="table">
    <tr>
        <th>
            Date posted
        </th>
        <th>
            Message
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.datecreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.message)
        </td>
        <td>
            @Html.ActionLink("View Likes", "ViewLikes", new { Object_id=item.id })
        </td>
    </tr>
}

</table>
