@model IEnumerable<SN_Aggregator_App.Models.FeedLikesModel>

<h2>Likes</h2>

<table class="table">
    <tr>
        <th>
            People's name
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
    </tr>
}
</table>
