@model IEnumerable<SN_Aggregator_App.Models.FeedLikesModel>

<h2>Likes made by:</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
    </tr>
}
</table>
