@model IEnumerable<SN_Aggregator_App.Models.CommentsModel>

<h2>Comments</h2>

<table class="table">
    <tr>
        <th>
            Message
        </th>
        <th>
            Date Posted
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }
</table>

@using (Html.BeginForm("AddComment", "FB", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <label>Create New comment for this post</label>
        <input type="text" placeholder="Message" id="message" name="message" class="form-control" />
        <input type="submit" value="submit" />
    </div>
}
