<div class="jumbotron">
    <h1>SN-Aggregator</h1>
    <p class="lead">This is a project to connect your facebook and twitter feeds together so you would only need to communicate with one app</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>